@import "tailwindcss";
@import "katex/dist/katex.min.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --bckgrndmobile: #2c2c2c;
    --textformobile: #ededed;
    --foreground: #ededed;
    margin: 2px;
  }
}
@media (max-width: 768px) {
  * {
    box-sizing: border-box;
    margin: 1;
    padding: 1;
  }
  body{
    background: var(--bckgrndmobile);
    color: var(--textformobile);
  }
  .meni {
    display: none;
    flex-direction: column;
    align-items: center;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: Arial, Helvetica, sans-serif;
}
